.table__button {
    font-family: 'Ubuntu';
    font-style: normal;
    font-style: normal;
    font-weight: 300;
    font-size: 12.2752px;
    line-height: 170%;
    color: #000000;

    width: 42.21%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #A6FFFF;
    outline: none;
    border: none;
    border-radius: 100%;
}

@media screen and (min-width: 768px) {
    .table__button {
        font-size: 40.1944px;
    }   
}