#table-img-up {
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.go-down { 
    animation-name: table-go-down;
}

.go-up { 
    animation-name: table-go-up;
}

@keyframes table-go-down {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(10%);
    }
}
@keyframes table-go-up {
    0%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(0);
    }
}